<!DOCTYPE html>
<html>
  <head>
    <title>Todo App</title>
  </head>
  <body>
    <h1>Todo List</h1>
    <form action="/add" method="POST">
      <input type="text" name="task" placeholder="New Task" />
      <button type="submit">Add Task</button>
    </form>
    <ul>
      <% for (let i = 0; i < tasks.length; i++) { %>
        <li><%= tasks[i] %></li>
        <form action="/remove/<%= i %>" method="POST">
          <button type="submit">Remove</button>
        </form>
      <% } %>
    </ul>
  </body>
</html>